#titre {
    color:yellow;
    text-align: center;
}
#snakeBoard {
    margin: auto;
    display: block;
    border: medium solid greenyellow;
    height: 800px;
    width: 1200px;

 }

#e_econocom {
    display: none;
}