#titre {
    color:yellow;
    text-align: center;
}
#snakeBoard {
    margin: auto;
    display: block;
    border: medium solid greenyellow;
 }

#e_econocom {
    display: none;
    width: 30px;
    height: 25px;
}